@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> Oops!</h2>
        <div class="error-content">
            <h3>
                <i class="fa fa-warning text-yellow"></i> Something went wrong.
            </h3>
            <p>
                @ViewBag.Error
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->